main .form-control {
    display: inline-block;
    width: auto;
}

main .main-container .container {
    min-height: 80.5vh;
}

.Card-body {
    text-align: start;
}

.results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

footer {
    width: 100%;
}
